.card{
    width: 50%;
    margin: 100px auto;
    height: auto;
    justify-content: center;
    background-color: #eeeeee;
    border-radius: 15px;

}
.cardHeader{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
}
.headerProfile{
    height: 35px;
    width: 35px;
    align-items: center;
    margin: 10px 10px ;
    overflow: hidden;
    border-radius: 50px;
}
.headerUsername{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.timePosted{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(184, 184, 184);
}
.cardBody{
    height: 75%;
    margin: 25px 0;
    padding: 15px;
}
.cardFooter{
    height: auto;
}
.icon{
    color: gray !important;
}
.span{
    align-items: center;
    
}