
.profile{
    text-align: center;
}
.userProfile{
    width: 250px;
    height: 250px;
    background-color: black;
    border-radius: 50%;
    margin: 50px;
}

.userLogistics{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 55px 150px;
}
.logisticCard{
    width: 250px;
    padding: 25px;
    height: 90px;
    border-radius: 5px;
    background-color: rgb(231, 231, 231);
    transition: all 0.3s ease-in-out;
}

.logisticCard:hover{
    width: 300px;
    height: 100px;
}

.userJoinDate,.userCountry,.likesRecieved,.userName,.userRealName,.userFollwers{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.newPostPage{
    text-align: center;
    margin: auto;
    padding: 150px;
}
.PostPageMainHeader{
    margin: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.profilePage{
    text-align: center;
}
.profileHeading{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin:  50px auto;
}

.profileBtn{
    
}