*{
    margin: 0;   
}
.sideBar{ 
  height: 100vh;
  width: 70px;
  background-color: #000000;
  transition: all 0.3s ease-in-out;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
}

ul h1{
  transition: all 0.3s ease-in-out;
}
.sideBar:hover{
    width: 250px;
}
.sideBarUL{
  height: auto;
  padding: 0;
  width: 100%;
}
.sideBarUL .sideBarItem{
   
  width: 100%;
  height: 60px;
  list-style-type: none;
  margin: 0%;
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: center;
  align-items: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  cursor: pointer;
}
.hidelogbtn{
  opacity: 0;
}
.showlogbtn{
  opacity: 1;
}
.github{
    position: absolute;
    bottom: 35px;
    width: 100%;
}
.githubProfile{
    position: absolute;
    bottom: 0;
    width: 100%;
}

.icon{
  height: 25px;
  width: 25px;
  transition: all 0.5s ease-in-out;
}

.icon:hover{
  height: 35px;
  width: 35px;
}

@media only screen and (max-width:700px){
 .sideBar{
   flex-direction: row;
   width: 100%;
  height: 50px;
 }
 .sideBar:hover{
  height: 150px;
  width: 100%;
}
 .sideBarUL{
   display: flex;
   align-items: center;
   justify-content: space-between;
 }
 .github{
  position: relative;
  bottom: 0px;
}
.githubProfile{
  position: relative
}
}